<style>

		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: Arial, Helvetica, sans-serif;
		}

    .company-details{
	    overflow: hidden;
	    padding: 3em 0em;
	    background: rgba(249, 240, 1, 0.55);
	    text-align: center;
	    margin-top: 5em;
    }

    #footer #col1,
    #footer #col2,
    #footer #col3{
	    float: left;
	    width: 280px;
	    padding: 50px;
    }

    #footer #icon{
	    display: block;
	    margin-bottom: 1em;
	    font-size: 3em;
    }

    .copyright
    {
	    overflow: hidden;
	    padding: 3em 0em;
	    border-top: 20px solid rgba(255, 255, 255, 0.08);
	    text-align: center;
	    background: rgb(9, 18, 118);
    }

    .copyright p
    {
	    letter-spacing: 1px;
	    font-size: 1.2em;
	    color: white;
    }

    .copyright a
    {
	    text-decoration: none;
	    color: rgba(255, 255, 255, 0.8);
    }

    ul.contact{
	    margin: 0;
	    padding: 2em 0em 0em 0em;
	    list-style: none;
    }

    ul.contact li{
	    display: inline-block;
	    padding: 0em 0.10em;
	    font-size: 1.2em;
    }

    ul.contact li a{
	    color: #FFF;
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
    }

    #banner h2 {
      margin: 100px 450px;
      color: #fff;
    }

    #banner {
			margin-top: 50px;
			height: 400px;
			margin-bottom: 15px;
      padding-top:10px;
			font-size: 50px;
			color: white;
      background:rgba(255, 166, 0, 0);
			background-size: cover;
			background-position: center;
      width: 1200px;
		}
    
		.header::after {
			content: '';
			display: block;
			clear: both;
		}

		.menu {
			list-style: none;
			float: right;
		}

		.menu li {
			line-height: 70px;
			display: inline-block;
		}

		.menu li a {
			display: block;
			text-decoration: none;
			color: white;
			padding: 0px 20px;
			font-size: 20px;
			text-transform: uppercase;
		}

		.menu li a:hover {
			color: black;
			background-color: white;
		}

		html {
			scroll-padding-top: 70px;
			scroll-behavior: smooth;

		}

		#container {
			width: 100%;
			max-width: 1200px;
			padding: 15px;
			margin: 0px auto;
		}

		.show-btn,
		.hide-btn,
		#chk {
			font-size: 30px;
			line-height: 70px;
			color: white;
			display: none;
		}

		#header {
			width: 1190px;
			background-color: rgb(14, 4, 147);
			position: fixed;
			top: 0;
			height: 80px;
			padding-top: 0px;
      padding-right: 10px;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		#navBar {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

		#navBar>a {
			text-transform: uppercase;
			display: inline-block;
			padding: 10px 40px;
			text-decoration: none;
			color: white;
			font-size: 24px;
			font-family: Arial, Helvetica, sans-serif;
		}

		#navBar>a:hover {
			background-color: white;
			color: black;
		}

		#sec2-container::after {
			content: '';
			display: block;
			clear: both;
		}
    
		.artical {
			height: 31%;
			margin-bottom: 20px;
			background-color: chocolate;
			display: flex;
			justify-content: center;
			font-size: 20px;
			font-family: Arial, Helvetica, sans-serif;
			color: black;
			overflow: hidden;
		}

		#grid-container {
			width: 100%;
			margin: 15px auto;
      grid-gap: 30px 30px 30px;
      grid-template-columns: auto auto ;
      grid-template-rows: auto auto;
		}

		#grid-container::after {
			content: '';
			display: block;
			clear: both;
		}

		.grid {
			width: 20%;
			float: left;
			margin-left: 50px;
			background-color: lightgrey;
			border-radius: 8px;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		}

		.grid>img {
			width: 100%;
			margin-bottom: 10px;
		}

		.grid>h4 {
			margin: 0px 10px;
			text-align: center;
		}

		.grid>p {
			margin: 10px;
			font-size: 15px;
			text-align: justify;
			line-height: 25px;
			color: white;
		}

		.grid>a {
			display: block;
			margin: 0 auto;
			text-align: center;
			color: #fff;
			background-color: rgb(12, 89, 9);
			text-decoration: none;
			padding: 10px;
			border-radius: 8px;
		}

		h1 {
			color: black;
			font-size: 40px;
			text-align: center;
			padding: 25px 0px;
		}

		.grid>a:hover {
			background-color: blue;
		}

    .btn {
      border: blue;
      color:#FFF;
      background-color: rgba(0, 0, 0, 0);
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 50px;
      margin: 1px 2px;
    }

    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.7;
    }

    .fa-instagram {
      background: #f514c8;
      color: white;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-pinterest {
      background: #cb2027;
      color: white;
    }

    .fa-envelope{
      color:black;
      float: none;
	    width: 300px;
      padding: 0px 40px 0px 40px;
    }

    .fa-map-marker{
      color:black;
      float: center;
	    width: 300px;
      padding: 0px 40px 0px 40px;
    }
    
    .fa-phone{
      color: black;
      float: middle;
	    width: 300px;
      padding: 0px 40px 0px 40px;
    }

</style>